<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class ="container text-center">
    <div> <h1>Bienvenu notre application d'inventaire</h1> </div>
<div class="p-2">
    <a class="h2" th:href="@{/categories}">List Categories</a>
</div>
    <div class="p-2">
        <a class="h2" th:href="@{/categories/new}">Créer une Categorie</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products}">List de Produits</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products/new}">Créer un Produits</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/brands}">List de Brands </a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/brands/new}">Créer un Brand</a>
    </div>
</div>
</body>
</html>